.pulldownAttention {
    animation-name: pulldownAttention;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-bottom: -10%;
}

.attentionBody {
    background-color: #ffecc4;
    height: 100%;
    display: flex;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
    z-index: -1;
}

body {
    background-color: #ffecc4;
}

@keyframes pulldownAttention {
    0% {
        opacity: 0;
        margin-bottom: -10%;
    }


    100% {
        opacity: 1;
        margin-bottom: 0%;

    }

}

.AttentionMeme {}



.tyuuititle {
    width: max-content;
    font-size: 20px;
    color: #4c3427;
    display: flex;
}

.attention-header {
    padding-left: 20px;
    height: 1em;
    width: 3000px;

}

.explanation-container {
    display: flex;
    align-items: center;
}

.explanation-container div {
    color: #4c3427;
    font-size: 15px;
}

.explanation-container img {
    height: 150px;
    width: auto;
}

@media only screen and (max-width: 750px) {
    .explanation-container {
        display: relative;
        align-items: center;
    }

    .explanation-container img {
        position: absolute;
        right: 0px;
        padding: 10px;
        height: 100px;
        width: auto;


    }



    .attention-header-container {
        display: flex;
        align-items: center;
    }

    .tyuuititle {
        /*width: max-content;*/
        width: 10px;
        font-size: 25px;
        color: #4c3425;
        display: flex;
    }

    .attention-header {
        padding-left: 20px;
        height: 1em;
        width: 3000px;

    }


}

.arrow-character {
    color: #e5b3a0;
}

.attentionLine {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: auto;
    width: 5px;
    background-color: #e5b3a0;
    margin-left: 3%;
    margin-right: 0%;
}

.attentiontext {
    margin-left: 10%;
    margin-right: 10%;
}

.titledesign {
    height: 25px;
    width: auto;
    margin-left: 25px;


}

/*.separator{
        background-image:var(--img-attention-shikiri-svg);
     
    
    
        height: 100%;
        width: auto;
        margin-left: 3%;
        padding-right: 20%;
        background-repeat: repeat-x;
        overflow-x: hidden;
        margin-left: auto;
       

} */
.tyuititletext {
    white-space: nowrap
}

.AttentionBox{
    margin-left: 10%;
}

.AttentionBox p{
    white-space: nowrap;
    color: #4c3427;
}