.pulldown {
    animation-name: pulldown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-bottom: -10%;
}

@keyframes pulldown {
    0% {
        opacity: 0;
        margin-bottom: -10%;
    }

    50% {
        opacity: 1;
        margin-bottom: 0%;
    }

    100% {
        opacity: 1;
        margin-bottom: 0%;
    }
}

.tyuuititle {
    font-size: 20px;
    color: white;
    display: flex;
}

.explanation-container {
    display: flex;
    align-items: center;
}

.explanation-container div {
    color: white;
    font-size: 15px;
}

.explanation-container img {
    height: 150px;
    width: auto;
}

@media only screen and (max-width: 750px) {
    .explanation-container {
        display: relative;
        align-items: center;
    }

    .explanation-container img {
        position: absolute;
        right: 0px;
        padding: 10px;
        height: 100px;
        width: auto;
    }
}

.attentionBody {
    background-color: #767c77;
    height: 100%;
    display: flex;
    padding-bottom: 32%;
}

.arrow-character {
    color: #e5b3a0;
}

.attentionLine {
    height: 80vh;
    width: 5px;
    background-color: #9BABA3;
    margin-top: 7%;
    margin-left: 8%;
    margin-right: -3%;
}