.Profile{
    background-color: #222;
    color:#eee;
    margin-left:5%;
    width:120px;
    text-align: center;

}

.display1{
    display: flex;
}

.display2{
    display: flex;
    margin-top:40px;
    margin-left:30px;
}

.about{
    margin-right:40px;
}