.background{
  background-color: rgb(187, 225, 231);
  min-height: 100vh;
  height: 170vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-repeat: no-repeat;
  background-size: cover;
}