.background_top {
  /*background-color: #ffeec0;*/
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /*align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);*/
  background-repeat: no-repeat;
  background-size: cover;
}

.load_top {
  top:0;
  width: 100%;
  height: 100vh;
  position: absolute;
  animation: load-top;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes load-top {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.title {
  font-family: "筑紫a丸ゴシック";
  display: flex;
  align-content: space-between;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 3%;
}

.title img {
  width: 7%;
}

.background_top h2 {
  color: #4e3427;
  margin: 0;
  font-size: calc(10px + 2vmin);
  text-decoration: none;
}

.decolation {
  width: 30%;
  margin-left: 3%;
  margin-top: 1%;
}

.decolation1 {
  width: 25%;
  margin-top: -6%;
  margin-bottom: 3%;
  margin-left: 3%;
}

.mainvisual_pc {
  width: 98%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 2%;
  display: block !important;
}

.mainvisual_sp {
  width: 98%;
  margin-left: 1%;
  margin-top: 3%;
  margin-bottom: 2%;
  display: none !important;
}

@media only screen and (max-width: 640px) {
  .mainvisual_pc {
    display: none !important;
  }

  .mainvisual_sp {
    display: block !important;
  }
}

.box {
  position: relative;
  z-index: -1;
}

.main_logo {
  width: 70%;
  position: absolute;
  right: 5px;
  bottom: -10px;
  display: none !important;
}

.main_logo2 {
  width: 50%;
  position: absolute;
  right: 5px;
  bottom: -15px;
  display: block !important;
}

@media only screen and (max-width: 640px) {
  .main_logo {
    display: block !important;
  }

  .main_logo2 {
    display: none !important;
  }
}

.top-main {
  background-image: var(--img-top-background-1-png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.schedule_main {
  display: flex;
}

.schedule_img {
  border-left: solid 2px #a41a29;
  margin-left: 6.3%;
  display: flex;
  flex-wrap: wrap;
}

.schedule_main img {
  width: 45%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.map_main img {
  width: 93%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.map_img {
  border-left: solid 2px #a41a29;
  margin-left: 6.3%;
}

.map_img img {
  border: solid 1.5px #a41a29;
}

.topic_main {
  display: flex;
}

.topic_img {
  border-left: solid 2px #a41a29;
  margin-left: 6.3%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overfrow-style: none;
}

.topic_img ::-webkit-scrollbar {
  display: none;
}

.topic_main img {
  width: 45%;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 3%;
  flex-shrink: 0;
}

.border_attention {
  height: 5vh;
  width: 2px;
  background-color: #a41a29;
  margin-top: 1%;
  margin-left: 6.3%;
  margin-bottom: 10%;
}

.link {
  text-decoration: none;
}

@keyframes animation-logo {
  0% {
  }

  60% {
      opacity: 1;
      transform: translateY(0%);
  }

  100% {
      opacity: 0;
      transform: translateY(-100%);
      visibility: hidden;
  }
}
.loadMain{
  height: 100%;
  width: 100vw;
  animation-name: animation-logo;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  top:0;
}