.yellow {
    text-decoration: none;
    background-image: var(--img-flame-list-svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-size: 100%;
    text-align: center;
    padding-top: 5%;
    color: #612d30;
}

.red {
    color: #999;
    padding-top: 5%;
    text-decoration: none;
    background-image: var(--img-flame-list-svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-size: 100%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.header_link {
    text-decoration: none;
}

.header_title_menu {
    text-align: center;
    color: #612d30;
}

.padding-menu {
    background-color: #fefff5;
    height: 100vh;
    height: 100dvh;
    opacity: 1;
}

.background_black {
    opacity: 1;
}

.header-menu-button {
    margin-left: -27%;
    margin-top: -11%;
}

.header-background {
    background-color: #767c77;
}
