.animation-box1 {
}

@keyframes animation-logo {
    0% {
    }

    60% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
        visibility: hidden;
    }
}
.loadMain{
    height: 100%;
    width: 100%;
    animation-name: animation-logo;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #fcebbe;
}