.load {
    background-color: brown;
    background-size: cover;
}

.animation-box {
    animation-name: animation-sample;
    animation-duration: 3s;
    background-color: white;
    animation-iteration-count: 1;
    opacity: 0;
    position: absolute;
    animation-fill-mode: forwards;
    background-size: cover;
}

@keyframes animation-sample {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.animation {
    animation-name: animation;
    position: absolute;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    font-size: 100px;
}

@keyframes animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.null {
    display: none;
}