.Day-box {
    display: flex;
    justify-content: left;
    margin-left: 10%;
    align-items: center;
}

.Day-box-picture {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    background-color: #FFCF59;
    margin-bottom: 10%
}

.Day-main {
    text-align: center;
}

.Day-busArea {
    text-align: left;
    margin-left: 20%;
}

.Day-leftLineArea {
    display: flex;
    margin-top: -10%;
}

.Day-leftLineArea2 {
    display: flex;
}

.Day-leftLineAreaSmall {
    display: flex;
    margin-left: 20%;
}


.Day-leftLineAreaSmall2 {
    display: flex;
}


.Day-leftLine {
    background-color: #4E3427;
    width: 3px;
    height: auto;
    margin-right: 5px;
    margin-top: 17px;
    margin-bottom: 24px;
}


.Day-time {
    font-size: 15px;
    color: #4E3427;
}

.Day-timeSmall {
    font-size: 15px;
    color: #4E3427;
}

.Day-textArea {
    color: #4E3427;
    text-align: left;
    margin-top: 2%;
}

.Day-Rome {
    margin-top: -10%;
}

.Day-textName {
    margin-bottom: -10%;
}

.Day-textNameSmall {
    margin-bottom: -40%;
}

.Day-textNameSmall2 {
    margin-bottom: -20%;
}


.Day-BusLine {
    text-decoration: underline solid 2px #4E3427;
    color: #4E3427;
    margin-bottom: 4%;
}

.Day-BusLineSmall {
    text-decoration: underline solid 2px #4E3427;
    color: #4E3427;
    margin-bottom: -17%;

}

.Day-BusLineSmall2 {
    text-decoration: underline solid 2px #4E3427;
    color: #4E3427;
    margin-bottom: -6%;
    margin-left: -16%;

}

.Day-routeIf {
    padding-left: 5%;
    background-color: #DF7C7C;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5%;
}

.Day-underLineRed {
    text-decoration: underline solid 2px #DF7C7C;
    margin-left: 20%;
}

.Day-underLineRed2 {
    text-decoration: underline solid 2px #DF7C7C;
}

.Day-RedLine {
    background-color: #DF7C7C;
    height: 10px;
    width: 100%;
}

.Day-picture {
    width: 76%;
    object-fit: cover;
}

.Day-pictureText {
    color: white;
    margin-top: -30%;
}

.Day-pictureTextBackground {
    padding-left: 5%;
    text-align: left;
    background: black;
}

.Day-pictureBox {
    align-items: stretch;
    margin-left: 10%;
}

.Day-timePicture {
    margin-left: 6%;
    margin-right: 4%;
    color: white;
    font-size: 20px;
}

.Day-triangle {
    height: 5%;
    width: 5%;
    margin-right: 5%;
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Day-triangle3 {
    height: 5%;
    width: 5%;
    margin-right: 5%;

}

.Day-triangle4 {
    transform: rotate(-90deg);
    height: 5%;
    width: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.Day-triangle2 {
    height: 5%;
    transform: rotate(90deg);
    width: 5%;
    margin-right: 5%;
    animation-name: rotate2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.Day-pulldown {
    animation-name: pulldown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes pulldown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
        margin-bottom: -350px;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
        margin-bottom: 0px;
    }
}

.Day-pulldownClose {
    animation-name: pulldownClose;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes pulldownClose {
    0% {
        transform: translateY(0px);
        opacity: 1;
        margin-bottom: 0px;
        visibility: visible;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0;
        margin-bottom: -90%;
        visibility: hidden;
    }
}

.Day-pulldown2 {
    animation-name: pulldown2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes pulldown2 {
    0% {
        transform: translateY(-10px);
        opacity: 0;
        margin-bottom: -350px;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
        margin-bottom: 0px;
    }
}

.Day-pulldownClose2 {
    animation-name: pulldownClose2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes pulldownClose2 {
    0% {
        transform: translateY(0px);
        opacity: 1;
        margin-bottom: 0px;
        visibility: visible;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0;
        margin-bottom: -83%;
        visibility: hidden;
    }
}

.Day-lunch {
    text-decoration: underline solid 2px #DF7C7C;
    color: #4E3427;
}

.Day-ifTitle {
    margin-top: 0%;
    margin-bottom: 0%;
}

.Day-backScheduleSmall {
    margin-bottom: 0%;
    color: #4E3427;
    font-size: 15px;
}

.Day-backSchedule2Small {
    margin-top: 0%;
    color: #4E3427;
}

.Day-backSchedule {
    margin-bottom: 0%;
    color: #4E3427;
}

.Day-backSchedule2 {
    margin-top: 0%;
    color: #4E3427;
}

.Day-timeBar {
    height: 20px;
    width: 4%;
    margin-left: 47.5%;
    background-color: #4E3427;
}

.Day-timeBarArea {
    text-align: center;
}

.Day-timeSmallBar {
    margin-bottom: 5%;
}

.Day-timeSmallBar2 {
    margin-top: 5%;
}

.Day-underBox {
    margin-left: 20%;
    text-decoration: underline solid 2px #DF7C7C;
}

.Day-lunchSet {
    width: 3%;
    height: 3%;
}

.Day-lunchBox {
    justify-content: center;
    display: flex;
    align-items: center;
}

.Day-Boxbreak {
    display: flex;
    justify-content: left;
    margin-left: 10%;
    align-items: flex-start;
}

.Day-morning {
    text-align: left;
    margin-left: 20%;
}

.Day-timeList {
    display: flex;
}

.Day-change {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.Day-changeBox {
    text-align: center;
}

.Day-fontIroha{
    font-family: irohamaru, sans-serif;
font-weight: 400;
font-style: normal;
}

.Day-fontKree{
    font-family: klee-one, sans-serif;
font-weight: 600;
font-style: normal;
}

.Day-fontIrohaMid{
    font-family: irohamaru, sans-serif;
font-weight: 500;
font-style: normal;
}