.schedule_hiduke {
    display: flex;
    text-align: center;
    width: 100%;
}

.schedule_hinichi {
    width: 100%;
    background-color:aqua;
}

.schedule_place {
    display: flex;
}

.timeschedule {
    background-color: aqua;
    text-align:center;
}