.schedule-body {
    background-color: #414c3f;
    margin-top:-17%;
    padding-top: 10%;
    padding-bottom: 100%;
}

.schedule_hiduke {
    display: flex;
    text-align: center;
    width: 100%;
}

.schedule_hinichi {
    color: aliceblue;
    width: 100%;
    height: 200%;
    font-weight: 600;
    background-color: #443d42;
    padding: 15px;
    white-space: nowrap;
}

.schedule_hinichi-pick {
    color: aliceblue;
    width: 100%;
    height: 200%;
    font-weight: 600;
    background-color: #B1CA6A;
    padding: 15px;
    white-space: nowrap;
}

/*一段目*/
.schedule_place {
    display: flex;
    height: 120px;
    background-color: #767c77;
    border-radius: 10px;
}

#schedule-text {
    color: white;
}

.schedule-time {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    font-weight: 200;
}

.schedule-area {
    background-color: rgb(5, 72, 72);
    padding-right: 45%;
    padding-bottom: 10%;
}

.schedule-area-do {
    white-space: nowrap;
    font-size: 15px;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 10%;
    padding-right: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.schedule-area-text {
    padding-left: 10%;
    padding-right: 15%;
    margin-right: -100%;
    font-size: 25px;
    margin-top: -12%;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* 二段目*/
.schedule_place2 {
    display: flex;
}

.schedule-time2 {
    padding-left: 90px;
    padding-top: 20px;
    font-weight: 200;
}

.schedule-norimono {
    padding-top: 15px;
    padding-left: 30px;
    text-decoration: underline solid 3px #8e627c;
}

.schedule-tatesen {
    width: 4px;
    height: 30px;
    margin-left: 30px;
    margin-top: -14px;
    background-color: #00b9f7;
    border-radius: 2px;
}

.schedule-nagoya1 {
    white-space: nowrap;
    padding-left: 5px;
    margin-top: -18px;
    font-size: 20px;
}

.schedule-nagoyasyou1 {
    margin-left: -58px;
    margin-top: 6px;
    font-size: 10px;
}

.schedule-place3 {
    display: flex;
}

.schedule-sannkaku1 {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 14px solid #6dc9e2;
    margin-left: 105px;
    margin-top: -40px;
}

.schedule-tatesen2 {
    width: 4px;
    height: 30px;
    margin-left: 125px;
    margin-top: -42px;
    background-color: #d7d8cc;
    border-radius: 2px;
}

.schedule-hirosima1 {
    padding-left: 135px;
    margin-top: -50px;
    font-size: 20px;
}

.schedule-hirosimasyou1 {
    padding-left: 135px;
    margin-top: -25px;
    font-size: 10px;
}

span {
    display: block;
}

.schedule-title{
    text-align: center;
    margin-top:-6% ;
    margin-bottom:-7%;
    color: #d7d8cc;
}