.SeatTop{
    display: flex;
    font-size:40px;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #4E3427;
    background-color: #e7cd5a;
    padding-top: 10%;
    margin-top: -10%;
    justify-content: center;
}
.SeatTopTextPick{
    display: flex;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #4E3427;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 0%;
    text-decoration-thickness: 3px;
    text-decoration-color: #D47878;
    text-decoration-style: solid;
    text-decoration-line: underline;
}
.SeatGo{
    display: flex;
    background-color: #f8e8bc;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
    align-items: center;
    padding-left: 5px;
    padding-right: 3px;
}
.SeatGo p{
    white-space:nowrap;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 30px;
    font-family: klee-one, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-left: 5px;
}
.SeatGo img{
    width: 50px;
    margin-top: 10px;
}
.SeatTopText{
    margin-top: 5%;
    display: flex;
    margin-right: 10%;
    margin-bottom: 0%;
}

.SeatSelectBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.SeatSelectText{
    font-size: 30px;
    margin-right: 5%;
}
.SeatSelectText img{
    width: 25px;
    height: 25px;
}

.SeatSelectTextArea{
    display: flex;
    align-items: center;
}

.SeatSelectText p{
    font-size: 30px;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #4E3427;
    margin-bottom: 0%;
    margin-top: 0%;
}

.SeatMain{
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #4E3427;
}
.SeatTeam{
    display: flex;
    font-size: 25px;
    justify-content: space-around;
}

.SeatTeam p{
    text-align: center;
    background-color: #e7cd5a;
    padding-left: 9%;
    padding-right: 10%;
}
.SeatNumberArea{
    display: flex;
}
.SeatBar{
    width:3%;
    background-color: #9c1e29;
    margin-top: 1%;
    margin-right: 2%;
}

.SeatBox{
    margin-left: 10%;
}
.SeatTextMain{
    font-size: 25px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.SeatTextSub{
    margin-top: -5%;
    margin-bottom: 0%;
    font-size: 15px;
}
.SeatBox img{
    margin-top: 5%;
    width: 90%;
}