.map-main {
    margin-top: -13%;
    top: 0;
    width: 100%;
    height: 50%;
    background-size: cover;
    margin-bottom: -10%;
}

.map-sort {
    text-align: center;
    background-color: #b6b2a7;
    margin-left: 10%;
    margin-right: 40%;
    border-radius: 5px;
    display: flex;
    margin-bottom: 2%;
}

.map-button {
    color: white;
    margin-top: 1%;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.map-topic {
    text-align: center;
    padding-bottom: 20%;
}

.map-map {
    width: 100%;
}

.map-TouchArea {
    background-color: #757b77;
    background-size: cover;
    bottom: 0;
    height: 100%;
}

.map-icon {
    margin-top: 0%;
    margin-right: 2%;
    margin-left: 2%;
    zoom: 0.6;
}

.map-icon-sort {
    text-align: center;
    margin-top: 5%;
    overflow: scroll;
    background-color: #b6b2a7;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 4%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    display: flex;
}

.map-area {
    width: 100%;
    margin-bottom: -3%;
}

.map-topic-box {
    margin-bottom: -23%;
    width: 85%;
}

.map-body {
    text-align: center;
    background-color: #b6b2a7;
}

.map-text {
    color: white;
    font-size: 25px;
    margin-top: -2%;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.map-text-color {
    color: #b6b2a7;
    margin-bottom: -5%;
    text-align: left;
    margin-left: 10%;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.map-pick {
    padding-top: 10%;
}

.map-pull {
    padding-bottom: 8%;
    margin-bottom: -5%;
    color: white;
    margin-top: 3%;
    font-size: 16px;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.map-svg {
    margin-top: 2%;
    zoom: 0.5;
    margin-bottom: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

.map-svg-open {
    margin-top: 22%;
    zoom: 0.5;
    margin-bottom: -25%;
    margin-right: 5%;
    margin-left: 50%;
}

.map-topic-in {
    margin-top: 0%;
    margin-left: 2%;
    zoom: 0.6;
    display: flex;
}

.map-topic-area {
    text-align: center;
    margin-top: 5%;
    overflow: scroll;
    background-color: #b6b2a7;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
}

.map-topic-text {
    color: white;
    font-size: 25px;
    margin-left: 5%;
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.topic-img-map {
    margin-top: 10%;
    width: 50%;
    height: 50%;
    border-radius: 8px;
}

.map-bar {
    background-color: #757b77;
    width: 1%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 4px;
}

.map-bar-open {
    background-color: #757b77;
    width: 1%;
    margin-right: 4%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
}

.map-moji {
    background-color: #b6b2a7;
    margin-left: 10%;
    margin-right: 40%;
    border-radius: 4px;
    display: flex;
    animation-name: map-pulldown;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    transform-origin: top;
    animation-timing-function: ease;
}

.map-red-bar {
    margin-left: 100%;
    margin-top: 13%;
    border-radius: 4px;
    background-color: #efb9a6;
    width: 8%;
    height: 10%;
}

.map-red-circle {
    background-color: #efb9a6;
    border-radius: 100px;
    width: 50%;
    height: 9%;
    margin-left: 78%;
    margin-top: 15%;
}

.map-pull-list {
    text-align: left;
}

.map-map-list {
    text-align: center;
}

@keyframes map-pulldown {
    0% {
        transform: scaleY(80%);
    }

    100% {
        transform: scaleY(100%);
    }
}

.map-topicArea {
    zoom: 0.5;
    margin-top: -10%;
    margin-bottom: 10%;
    width: 80%;
}

.map-topic-icon {
    width: 90px;
    height: 90px;
}