.logo {
    width: 65px;
}

.checklist-body {
    background-color: #767c77;
    padding-top: 15%;
    margin-top: -20%;
    padding-bottom: 30%;
    color: white;
    text-align: center;
}

.list-title {
    padding: 10px;
}

.List-checkBox {
    background-color: white;
}

.list-container {
    display: flex;
}

.list-pulldown {
    animation-name: pulldown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: flex;
}

.my-list-pulldown {
    animation-name: pulldown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
}

@keyframes pulldown {
    0% {
        opacity: 0;
        margin-bottom: -10%;
    }

    50% {
        opacity: 1;
        margin-bottom: 0%;
    }

    100% {
        opacity: 1;
        margin-bottom: 0%;
    }
}



.checkList-V {
    margin-top: 10%;
    height: 8%;
    width: 8%;
    transform: rotate(180deg);
}

.checkList-VR {
    margin-top: 10%;
    height: 8%;
    width: 8%;
}

.checkListArea{
    display: flex;
}
.List-bar{
    background-color: black;
    width:10px;
    height:auto;
    margin-top:0%;
    margin-bottom:0%;
}

.List-box{
    text-align: center;
}