.logo{
  width: 65px
}

.list-title {
  text-align: center;
  padding: 10px;
}

.list-main {
  text-align: center;
  padding: 0 10%;
  max-width: 1400px;
}

.list-title {
  text-align: center;
  padding: 20px 10px;
}

.list-container {
  display: flex;
}

.list-pulldown {
  animation-name: pulldown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-left: auto;
  margin-right: auto;
  width: 5em

}

.my-list-pulldown {
  animation-name: pulldown;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin-left: auto;
  margin-right: auto;
  width: 28em
}

@keyframes pulldown {
  0% {
    opacity: 0;
    margin-bottom: -10%;
  }

  50% {
    opacity: 1;
    margin-bottom: 0%;
  }

  100% {
    opacity: 1;
    margin-bottom: 0%;
  }
}