.logo {
    width: 65px;
}

.checklist-body {
    background-color: #767c77;
    padding-top: 15%;
    margin-top: -20%;
    padding-bottom: 30%;
    color: white;
    text-align: center;
}

.list-title {
    padding: 10px;
}


.my-list-pulldown {
    animation-name: pulldown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

@keyframes pulldown {
    0% {
        opacity: 0;
        transform: translateY(-30%);
        margin-bottom: -30%;
    }

    100% {
        opacity: 1;
        margin-bottom: 0%;
        transform: translateY(0%);
    }
}

.List-OneSet{
    display: flex;
    justify-content: center;
}

.List-bar{
    background-color: #98A99F;
    width:2px;
    height:auto;
    margin-top: 13%;
    margin-bottom:13%;
}

.List-flexSet{
    display: flex;
}

.List-closeAnimation{
    animation-name: pulldown-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes pulldown-close{
    0%{
        opacity: 1;
        margin-bottom: 0%;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(-30%);
        margin-bottom: -30%;
        visibility: hidden;
    }
}

.My-List-pulldown {
    text-align: center;
    display: flex;
    justify-content: space-around;
}