.roomMain {
  font-family: irohamaru, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4d3326;
  margin-top: 0%;
  margin-bottom: 0%;
}



.roomNext {
  width: 5%;
  height: 5%;
  margin-left: 5%;
}

.roomNext2 {
  width: 5%;
  height: 5%;
  transform: rotate(180deg);
  margin-right: 5%;
}

.roomDayArea {
  display: flex;
  align-items: center;
  margin-left: 6%;
}

.roomDay {
  font-size: 30px;
}

.roomLantern {
  width: 12%;
  height: 12%;
  margin-right: 5%;
}

.roomLantern2 {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 12%;
  height: 12%;
  margin-right: 5%;
  margin-left: 6%;
}

.roomTorii {
  width: 20%;
  height: 20%;
}

.roomSensu {
  width: 15%;
  height: 15%;
  margin-right: 2%;
}

.roomBox {
  margin-left: 12%;
  display: flex;
}

.roomTextArea {
  display: flex;
  align-items: center;
}

.roomTextArea p {
  font-size: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.roomLine {
  margin-right: 5%;
  border-radius: 5px;
  width: 1%;
  background-color: #d47878;
}

.roomHotelName {
  background-color: #d47878;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 15%;
  font-size: 30px;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.roomNumber {
  background-color: #d47878;
  display: inline-block;
  width: 30%;
  margin-left: 15%;
  font-size: 30px;
  border-radius: 10px;
  border-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #4d3326;
}

.roomNumberArea {
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.roomNumberArea p {
  font-size: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.roomTitle {
  display: flex;
  align-items: center;
}

.roomTitle p {
  font-size: 30px;
}

.roomUserName {
  background-color: #d47878;
  display: inline-block;
  width: 40%;
  font-size: 30px;
  border-radius: 10px;
  border-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #4d3326;
  margin-left: 12%;
}

.roomMemberTitle {
  display: flex;
  align-items: center;
}

.roomMemberTitle p {
  white-space: nowrap;
  font-size: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
}

.roomTuru {
  width: 15%;
  height: 15%;
}

.roomMemberArea {
  border-color: #d47878;
  border-style: solid;
  border-radius: 15px;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.roomMemberArea p {
  margin-left: 5%;
}

.roomNameArea {
  align-items: center;
  display: flex;
}

.roomClassArea {
  display: flex;
  align-items: center;
}

.roomClass {
  background-color: #d47878;
  display: inline-block;
  width: 25%;
  font-size: 30px;
  border-radius: 10px;
  border-style: none;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  color: #4d3326;
  margin-left: 5%;
}

.roomClassArea p {
  font-size: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.roomNameArea p {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
  margin-left: 1%;
}