body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


.fontIroha {
    font-family: irohamaru, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontKree {
    font-family: klee-one, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fontIrohaMid {
    font-family: irohamaru, sans-serif;
    font-weight: 500;
    font-style: normal;
}
